
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Box de Estacionamiento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
	 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
	<a class="navbar-brand" th:href="@{/}">Estacionamiento Municipal</a>            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav ms-auto">
                   <li class="nav-item"><a class="nav-link"  th:href="@{/}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link"   th:href="@{/automovil/nuevo}">Registrar Auto</a></li>
                    <li class="nav-item"><a class="nav-link"  th:href="@{/estacionamiento/nuevo}">Registar BoxDeEstacionamiento</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/reserva/nuevo}">Reservar Estacionamiento</a></li>
                </ul>
            </div>
        </div>
    </nav>
 <!-- Navbar -->
   
        <div class="container mt-4">
            <h2>Registrar Box de Estacionamiento</h2>
          
         
         <form th:action="@{/estacionamientos/guardar}" th:object="${estacionamiento}" method="post">
                     <input type="hidden" th:field="*{codigo}" id="codigo" class="form-control" placeholder="Código">
                <div class="mb-3">
                    <label class="form-label">Zona</label>
	<select class="form-select" th:field="*{zona}" required>
   				 <option th:value="ZONA1">Zona 1 ($300/hora)</option>
    			<option th:value="ZONA2">Zona 2 ($500/hora)</option>
	</select>

                </div>
                <div class="mb-3">
                    <label class="form-label">Disponibilidad</label>
                    <select class="form-select" th:field="*{disponibilidad}"  required>
                       <option th:value="true">Libre</option>  
    					<option th:value="false">Ocupado</option>  
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
     <!-- footer --> 
  <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>Contacto Municipalidad: Teléfono: (123) 456-7890 | Email: contacto@municipalidad.com | Web: www.municipalidad.com</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
         <!-- footer --> 
</body>
</html>
